* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeded;
  color: #eaeded;
}
a {
  text-decoration: none;
  color: black;
}
header {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.center-section {
  text-align: center;
  display: flex;
  align-items: center;
  height: 60px;
  width: 60%;
}

.header-search {
  height: 60%;
  width: 80%;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-icon {
  background: rgb(254, 189, 105);
  padding: 0.4%;
  margin-left: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.homelogo-amazon {
  max-width: 55%;
  margin: 2.5%;
  margin-left: 20%;
  margin-top: 5%;
}

.right-section {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}
