* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeded;
}
a {
  text-decoration: none;
  color: black;
}
header {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.center-section {
  text-align: center;
  display: flex;
  align-items: center;
  height: 60px;
  width: 60%;
}

.header-search {
  height: 60%;
  width: 80%;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  border: none;
  padding: 1px 2px 1px 15px;
}

.search-icon {
  background: rgb(254, 189, 105);
  padding: 0.4%;
  margin-left: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 60%;
  width: 2.25rem;
  border: none;
}

.homelogo-amazon {
  max-width: 55%;
  margin: 2.5%;
  margin-left: 20%;
  margin-top: 5%;
}

.amazon-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  margin-right: 3px;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 1px;
  left: 17px;

  width: 26px;
  text-align: center;
}
