* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    color: #111;
}

img {
    width: 103px;
    margin: 20px 0;
}

div {
    width: 350px;
    padding: 20px 26px;
}

div:first-of-type {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
}

h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    white-space: nowrap;
}

form {
    margin-bottom: 26px;
}

label {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
}

input[type="text"] {
    width: 100%;
    height: 31px;
    padding: 3px 7px;
    margin: 7px 0;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
}

input[type="text"]:focus {
    outline: none;
    border-color: #f8bd19;
    /* box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%); */
}

input[type="submit"] {
    width: 100%;
    height: 31px;
    background-color: #f8bd19;
    border: 1px solid;
    border-color: #f8bd19;
    border-radius: 15.5px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    font-size: 13px;
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

p {
    font-size: 12px;
    line-height: 1.5;
    margin: 18px 0;
}

a {
    text-decoration: none;
    color: #0066c0;
}

a:hover {
    color: #c45500;
    text-decoration: underline;
}

hr {
    height: 1px;
    background: #e7e7e7;
    border: none;
    margin: 20px 0;
}

div:last-of-type {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;
}

div:last-of-type a {
    font-size: 11px;
    color: #555;
}

p:last-of-type {
    font-size: 11px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    div {
        width: 100%;
        max-width: 350px;
    }
    
    img {
        width: 90px;
    }

    body {
        padding: 0 10px;
    }
}
